@font-face {
    font-family: 'FontName';
    src: url('../fonts/canela-deck-reg-i.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FontName';
    src: url('../fonts/canela-deck-reg-i.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}