@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: "Canela-deck-reg","Inter", Arial, Helvetica, sans-serif;
  --font-fira-code: "Fira Code", "Courier New", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-fira-code);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
    font-family: 'Canela-deck-reg-i';
    src: url('/fonts/canela-deck-reg-i.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela-deck-reg-b';
    src: url('/fonts/canela-deck-reg-i.otf') format('opentype');
    font-weight:900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Canela-deck-reg';
    src: url('/fonts/canela-deck-reg.otf') format('opentype');
    font-weight:900;
    font-style: italic;
    font-display: swap;
}

/* Load Inter and Fira Code from Google Fonts */
@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter); /* Use Inter for body */
  margin: 0;
  padding: 0;
}

.threads-container {
  position: relative;
  width: 100%;
  height: 100%;
}
/* .hero-container {
  width: 70vw;
  height: 60vh;
}

@media (max-width: 768px) {
  .hero-container {
    width: 70vw;
    height: 30vh;
  }
} */